/* 모달창 뒷배경 설정 */
.board-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 모달창 박스 설정*/
#plan-modal-box {
    display: block !important;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 80vw;
    height: 90vh;
}
/* 모달창 헤더 영역 설정 */
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 5vh;
    padding: 1vh 2vh;
}
.modal-header h3 {
    flex-grow: 1;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
}
.modal-header button {
    margin-left: 1vh;
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}
.modal-header button:hover {
    transform: scale(1.2);
}
.traffic-button {
    width: 3vh;
    height: 3vh;
}
.traffic-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 모달창 챕터 박스 영역 설정 */
.chapter-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 80vw;
    height: 5vh;
}
.chapter-list {
    display: flex;
    width: 71vw;
}
.chapter * {
    pointer-events: none;
}
.chapter {
    pointer-events: auto;
    user-select: none;
    width: 5.5vw;
    height: 3vh;
    border-top-right-radius: 10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.chapter.selected {
    border-top: 3px solid #ff600b;
    border-left: 3px solid #ff600b;
    border-right: 3px solid #ff600b;
}
.chapter.selected * {
    color: #ff600b;
    font-size: 1.03em;
}
.chapter.dragging {
    opacity: 0.5;
}
.chapter-name {
    width: 90%;
    resize: none;
    border: none;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    outline: none;
}
#chapter-add {
    border-top: 1px solid #817F7F;
    border-left: 1px solid #817F7F;
    border-right: 1px solid #817F7F;
    background-color: #817F7F;
    color: white;
    text-align: center;
    font-weight: bold;
}
.chapter-box button {
    margin: 0 1vh;
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}
.chapter-box button:hover {
    transform: scale(1.2);
    z-index: 1;
}
/* 모달창 컨텐츠 박스 영역 설정 */
.contents-box {
    display: flex;
    width: 80vw;
    height: 80vh;
    padding: 0 2vh 2vh;
    border-top: 1px solid black;
}
/* 컨텐츠 박스 1 - 맵 박스 영역 설정 */
.map-box {
    width: 20vw;
    height: 78vh;
    justify-content: center;
    align-items: center;
}

.map-box-search-bar {
    width: 20vw;
    height: 3vh;
    display: flex;
    margin-top: 1vh;
    justify-content: center;
    align-items: center;
}
.map-box-search-bar button {
    border: none;
    background: none;
    margin-right: 1vw;
    transition: transform 0.2s;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}
.map-box-search-bar button:hover {
    transform: scale(1.2);
}
.map-box-search-bar img {
    width: 3vh;
    height: 3vh;
}
.map-box-search-bar input {
    width: 15vw;
    height: 3vh;
    border: none;
    font-size: 1.25em;
    font-weight: bold;
}
.map-box-search-bar input:hover,
.map-box-search-bar input:focus {
    outline: none;
}

.map-box-map {
    width: 20vw;
    height: 25vh;
    background-color: black;
    border-radius: 10px;
    color: white;
    margin: 1vh 0;
}

.map-box-preview-box {
    width: 20vw;
    height: 47vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}
.map-box-preview-item {
    width: 19vw;
    height: 11vh;
    display: flex;
    margin-bottom: 1vh;
    border-radius: 10px;
    padding: 1vh;
    border: 1px solid black;
}
.map-box-preview-img {
    width: 5vw;
    height: 9vh;
    background-color: black;
}
.map-box-preview-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description-box {
    width: 7vw;
    height: 9vh;
    margin-left: 1vh;
}
.place-name {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5vh;
}
.grade-box {
    width: 7vw;
    height: 1.5vh;
    display: flex;
    margin-bottom: 1.5vh;
}
.grade-box img {
    width: 70%;
    height: 100%;
    object-fit: cover;
}
.grade-box p {
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-left: 0.6em;
    font-size: 0.6em;
    font-weight: bold;
}
.certification-box {
    width: 7vw;
    height: 1.5vh;
    display: flex;
    align-items: center;
}
.certification-name {
    font-weight: bold;
    font-size: 0.8em;
    margin-right: 0.8em;
}
.cerficiation-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description-detail-box {
    width: 6vw;
    height: 9vh;
}
.cost-box {
    width: 6vw;
    height: 3vh;
    margin-bottom: 1vh;
}
.cost-name {
    font-size: 0.8em;
    font-weight: bold;
}
.cost-content {
    font-size: 0.6em;
    font-weight: bold;
}
.address-box {
    width: 6vw;
    height: 3vh;
}
.address-name {
    font-size: 0.8em;
    font-weight: bold;
}
.address-content {
    font-size: 0.6em;
    font-weight: bold;
}
/* 컨텐츠 박스 2 - 버튼 박스 영역 설정 */
.button-box {
    width: 2vw;
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#insert {
    margin-bottom: 2vh;
}
.button-box button {
    background: none;
    border: none;
    transition: transform 0.2s;
    text-align: right;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    font-weight: bold;
}
.button-box button:hover {
    transform: scale(1.2);
}
/* 컨텐츠 박스 3 - 타임라인 박스 영역 설정 */
.timeline-box {
    display: flex;
    width: 60vw;
    height: 78vh;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
}

.timeline-column-left {
    width: 30vw;
    position: relative;
}
.timeline-line-left {
    position: absolute;
    left: 2vw;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: black;
}
.timeline-icon-start  {
    position: absolute;
    left: 1.35vw;
    top: 1vh;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.timeline-icon-start img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.start-location {
    margin-top: 1.6vh;
    margin-left: 1vw;
    width: 100%;
    height: 1.5vh;
    resize: none;
    border: none;
    font-size: 1em;
    font-weight: bold;
    outline: none;
}
.timeline-item-start {
    align-items: center;
    position: relative;
    padding-left: 2.5vw;
}

.timeline-item {
    position: relative;
    display: flex;
    align-items: center;
    margin: 2vh 0;
    padding-left: 3vw;
}
.timeline-icon {
    margin-left: -1.6vw;
    margin-right: 0.3vw;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.15em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.timeline-content {
    width: 80%;
    padding: 1vh;
    border-radius: 10px;
    border: 1px solid black;
    align-items: center;
    box-sizing: border-box;
}
.timeline-name {
    width: 100%;
    height: 1.5vh;
    resize: none;
    border: none;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1vh;
    justify-content: center;
    align-items: center;
    outline: none;
}
.location-detail {
    display: flex;
    width: 100%;
    height: 11vh;
}
.timeline-column-right {
    width: 30vw;
}
.timeline-line-right {
    position: absolute;
    left: 31vw;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: black;
}

.timeline-traffic-item {
    position: relative;
    display: flex;
    align-items: center;
    margin: 2vh 0;
    padding-left: 3vw;
}
.timeline-traffic-icon {
    margin-left: -1.6vw;
    margin-right: 0.3vw;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.15em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.traffic-time {
    width: 100%;
    height: 1.5vh;
    resize: none;
    border: none;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    padding: 0.5vh;
}
