#mp_content_flexbox {
    width: 70vw;
    margin: 8vh;
    display: inline-flex;
    gap: 4vw;
}

#mp_content_flexbox_left {
    text-align: center;
}

/*--------------------mp_content_flexbox_left-------------------*/
/*-------------------------profile_box-------------------------*/

#mp_profile_change_btn {
    background: transparent;
    border: none;
}

#mp_profile_box img {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mp_user_info_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.mp_user_info_box h5 {
    font-size: 24px;
    color: black;
    cursor: pointer;
}

@media (min-width: 400px) {
    #mp_profile_box img {
        width: 20vh;
        height: 20vh;
    }

    #pick_box ul li {
        margin-left: 3rem;
    }
}

@media (min-width: 500px) {
    #mp_profile_box img {
        width: 21vh;
        height: 21vh;
    }
}

@media (min-width: 600px) {
    #mp_profile_box img {
        width: 22vh;
        height: 22vh;
    }
}

@media (min-width: 700px) {
    #mp_profile_box img {
        width: 23vh;
        height: 23vh;
    }
}

@media (min-width: 800px) {
    #mp_profile_box img {
        width: 24vh;
        height: 24vh;
    }
}

@media (min-width: 900px) {
    #mp_profile_box img {
        width: 25vh;
        height: 25vh;
    }
}

@media (min-width: 1000px) {
    #mp_profile_box img {
        width: 26vh;
        height: 26vh;
    }
}

@media (min-width: 1100px) {
    #mp_profile_box img {
        width: 27vh;
        height: 27vh;
    }
}

@media (min-width: 1200px) {
    #mp_profile_box img {
        width: 28vh;
        height: 28vh;
    }
}

@media (min-width: 1300px) {
    #mp_profile_box img {
        width: 29vh;
        height: 29vh;
    }
}

@media (min-width: 1400px) {
    #mp_profile_box img {
        width: 30vh;
        height: 30vh;
    }

    #pick_box ul li {
        margin-left: 5rem;
    }
}

/* Overlay */
#mp_userInfo_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Popup */
#mp_userInfo_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

/*-------------------------user_info_change_box-------------------------*/

#mp_userinfo_change_btn img {
    margin-top: 0.2rem;
    width: 30px;
    height: 30px;
}

.mp_user_info_popup_box {
    display: flex;
}

.mp_user_info_change_box {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.mp_user_info_change_box p {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}

.mp_user_info_change_box input[type="text"] {
    margin-bottom: 1.3rem;
    border-bottom: 2px solid black;
    width: 20vw;
}

#mp_nickname {
    color: #757575;
}

.mp_user_info_change_box select {
    width: 3.7rem;
    margin-top: 2px;
}

#mp_change_address {
    text-align: start;
}

.mp_btn{
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: white;
}

.mp_btn:hover{
    cursor: pointer;
}

/*-------------------------pick_board_box-------------------------*/

#pick_box {
    margin: 5vh auto;
}

#pick_box ul {
    padding-left: 0;
}

#pick_box ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

#pick_box ul li a {
    text-decoration-line: none;
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
}

#pick_box ul li img {
    transition: transform 0.3s ease;
}

#mp_heart_icon {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-right: 0.4rem;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
}

#mp_pickboard_text {
    font-size: 15px;
    font-weight: bold;
    transition: font-size 0.3s, color 0.3s;
}

#mp_pickboard_text:hover {
    font-size: 1.3em;
    font-weight: bolder;
    color: #ff6b00;
    border-color: #ff6b00;
}

#mp_pin_icon {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.4rem;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
}

#mp_pickplace_text {
    font-size: 15px;
    font-weight: bold;
    transition: font-size 0.3s, color 0.3s;
}

#mp_pickplace_text:hover {
    font-size: 1.3em;
    font-weight: bolder;
    color: #ff6b00;
    border-color: #ff6b00;
}

/* Overlay */
#mp_pickboard_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Popup */
#mp_pickboard_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.mp_pick_popup-header {
    display: flex;
    justify-content: space-between; /* 아이템들을 양 끝으로 분배 */
    align-items: center; /* 아이템들을 교차축 중앙에 정렬 */
    width: 100%; /* 컨테이너가 부모 요소를 꽉 채우도록 설정 */
    padding: 10px;
}

.mp_pick_popup-header-title {
    flex-grow: 1; /* 제목을 가능한 넓게 확장하여 중앙에 오도록 설정 */
    text-align: center; /* 제목 텍스트를 중앙 정렬 */
}

.mp_pick_popup-header h5 {
    font-weight: 900;
}

.mp_pick_popup-header button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.mp_popup_content {
    padding: 20px;
}

.mp_popup_gallery {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(100px, auto));
}

.mp_popup_gallery div img {
    width: 100%;
    height: 23vh;
    object-fit: cover;
    border-radius: 5px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.checkbox-container input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border-radius: 20px;
}

.checkbox-container label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.checkbox-container label span {
    display: inline-block;
    padding-bottom: 3px;
    font-size: 14px;
}

.mp_checkbox input[type="checkbox"] {
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 2;
}

.mp_checkbox img {
    position: relative;
    z-index: 1;
}

/*-------------------------pick_place_box-------------------------*/

/* Overlay */
#mp_pickplace_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Popup */
#mp_pickplace_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.mp_pickplace-list {
    max-height: 70vh;
    overflow-y: auto;
}

.mp_pickplace-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.mp_pickplace-item input[type="checkbox"] {
    margin-right: 15px;
}

.mp_pickplace-item img {
    width: 20vw;
    height: auto;
    border-radius: 5px;
    margin-right: 15px;
}

#certification_mark {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

#star_score_4 {
    width: 70%;
    left: 0;
}

.mp_pickplace_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.mp_pickplace_details h3 {
    font-size: 24px;
    font-weight: bold;
}

.mp_pickplace_details .mp_pickplace_rating,
.mp_pickplace_details .mp_pickplace_grade,
.mp_pickplace_details .mp_pickplace_price {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}




/*------------------mp_my_travel_grade_box-------------------*/

#mp_my_travel_grade_box a {
    text-decoration-line: none;
    color: black;
}

#mp_my_travel_grade_box p {
    font-weight: bold;
    margin-bottom: 1em;
}

#mp_baggage_icon {
    cursor: pointer;
    transition: transform 0.3s ease;
}

#mp_baggage_icon:hover {
    transform: scale(1.3);
}

/* Overlay */
#mp_grade_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Popup */
#mp_grade_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 700px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.mp_grade_info_box {
    display: flex;
}

.mp_arrow {
    width: 100%;
}

.mp_grade_my_info {
    margin: 0 30px;
}

.mp_grade_marks {
    display: flex;
    justify-content: space-around;
}

.mp_grade_info_box .mp_grade_text_info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.mp_arrow {
    width: 100%;
    margin-bottom: 20px;
}

.mp_grade_marks img {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}

.mp_grade_my_info h4 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 900;
}

.mp_grade_my_info img {
    margin-bottom: 10px;
}

.mp_grade_text_info h6 {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
}

/*-------------------------status_box-------------------------*/

#mp_messagebox {
    width: 15vw;
    height: 30vh;
    margin: 5vh auto;
    padding: 0 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer; /* 클릭할 수 있도록 커서 변경 */
    overflow: hidden;
    text-align: center;
    white-space: pre-wrap;
    word-break: break-word;
}

#mp_status_message_upload_btn {
    background: transparent;
    border: none;
    margin-top: 1em;

}

#mp_status_popup {
    width: 30vw;
    height: auto;
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    z-index: 1000; /* 다른 요소 위에 표시 */
}
#mp_status_overlay {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    z-index: 999; /* 팝업보다 아래에 표시 */
}

#message-input {
    width: 100%;
    height: 35vh;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(to bottom, transparent calc(100% - 1px)) repeat-y;
    resize: none; /* 사용자가 크기를 변경하지 못하도록 */
    text-align: left;
    white-space: pre-wrap; /* 기본값으로 공백과 줄 바꿈을 유지 */
    word-wrap: break-word; /* 단어를 줄 바꿈 할 수 있도록 */
    overflow-wrap: break-word;
    overflow: auto;
}

#close-mp_status_popup_btn {
    display: flex;
    justify-content: end;
}

#close-mp_status_popup {
    margin-bottom: 10px;
    right: 0;
}

/*#apply-message {*/
/*    margin-top: 5px;*/
/*}*/

/*-----------------mp_content_flexbox_right---------------------*/
/*------------------mp_right_header_tags----------------------*/
#mp_header_text {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#mp_travel_recode_tag:hover {
    font-size: 1.3em;
    font-weight: bolder;
    color: #ff6b00;
}
#mp_travel_recode_tag:hover ~ #mp_travel_recode_num_tag {
    font-size: 1.3em;
    font-weight: bolder;
    color: #ff6b00;
}

#mp_travel_recode_num_tag:hover {
    font-size: 1.3em;
    font-weight: bolder;
    color: #ff6b00;
}

#mp_travel_plan_tag:hover {
    font-size: 1.3em;
    font-weight: bolder;
    color: #ff6b00;
}

#mp_travel_plan_tag:hover ~ #mp_travel_plan_num_tag {
    font-size: 1.3em;
    font-weight: bolder;
    color: #ff6b00;
}

#mp_travel_plan_num_tag:hover {
    font-size: 1.3em;
    font-weight: bolder;
    color: #ff6b00;
}

#mp_reservation_tag:hover {
    font-size: 1.3em;
    font-weight: bolder;
    color: #ff6b00;
}

#mp_reservation_tag:hover ~ #mp_reservation_num_tag {
    font-size: 1.3em;
    font-weight: bolder;
    color: #ff6b00;
}

#mp_reservation_num_tag:hover {
    font-size: 1.3em;
    font-weight: bolder;
    color: #ff6b00;
}

#mp_header_text div a {
    width: 10vw;
    text-decoration-line: none;
    color: black;
    font-weight: bold;
    font-size: large;
    margin: 1.5rem;
    transition: font-size 0.3s, color 0.3s;
}

#mp_header_text div p {
    width: 10vw;
    font-weight: bold;
    font-size: large;
}

/*-----------------------new_board_upload-------------------------*/

#mp_add-post-button {
    display: flex;
    justify-content: end;
    margin: 2rem;
}

#mp_add-post-button img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

#mp_add-post-button img:hover {
    transform: scale(1.3);
}

#mp_grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(100px, auto));
    align-items: stretch;
    gap: 10px;
    margin: 20px;
}
.mp_grid-item {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, z-index 0.3s ease;
}

/* 호버 시 그리드 아이템과 이미지 확대 */
.mp_grid-item:hover {
    transform: scale(1.05);
    z-index: 0; /* 호버된 요소를 앞에 보이게 함 */
}

.mp_grid-item img {
    width: 100%;
    height: 40vh;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.mp_grid-item:hover img {
    transform: scale(1.15);
}

/* Overlay */
#mp_new_board_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Popup */
#mp_new_board_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

#mp_new_board_upload_popup img {
    margin-top: 0.5rem;
    width: 30px;
    height: 30px;
}

.mp_new_board_box form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.mp_new_board_image_box {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    width: 35vh;
    height: 35vh;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    border-radius: 10px;
}

.mp_new_board_image_box img {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.mp_new_board_image_box p {
    cursor: pointer;
}

.mp_new_board_text_box textarea {
    width: 40vh;
    height: 35vh;
    border: 1px solid #777676;
    border-radius: 10px;
    cursor: pointer;
    resize: none;
}

.mp_pick_popup-header-title h5 {
    font-size: 20px;
    font-weight: 900;
    margin-left: 3rem;
    margin-top: 0.5rem;
}

textarea::placeholder {
    color: #777676;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    text-align: start;
}

/*--------------------------travel_plan-----------------------------*/

.mp_travel_plan_box {
    width: 47vw;
    margin: 2rem;
}

.mp_travel_plan_icons {
    width: 100%;
    display: flex;
    align-items: start;
}

.mp_travel_plan_checkbox{
    width: 20px;
    height: 20px;
    margin-right: 9px;
}

.mp_travel_plan_icon {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.mp_travel_plan_icon img {
    width: 40vh;
    height: 29.59vh;
    overflow: hidden;
    align-items: center;
    border-radius: 0 8px 8px 0;
}

.mp_travel_plan_icon h4, .mp_travel_plan_icon p {
    overflow: hidden;
}

#mp_travel_plan_select_all {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mp_travel_plan_select_all input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-top: 0.3rem;
    margin-right: 9px;
}

#mp_travel_plan_select_all p {
    font-size: 1em;
    font-width: bold;
    text-wrap: nowrap;
}

#mp_travel_plan_select_all img {
    margin-bottom: 1rem;
}

.mp_tr_checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.mp_tr_checkbox-container label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    cursor: pointer;
}

.mp_tr_checkbox-container label span {
    display: inline-block;
    padding-bottom: 3px;
    font-size: 14px;
}

.mp_travel_plan_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
}

/*--------------------reservation-----------------------*/

.mp_reservation_info {
    width: 47vw;
    margin: 2rem;
}

.mp_reservation_info_header {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
}

#mp_reservation_line {
    border-bottom: 3px solid black;
    margin: 1.5rem 0;
}

.mp_reservation_info_box {
    width: 100%;
    display: flex;
    gap: 3rem;
}

.mp_reservation_info_titles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mp_reservation_info_titles p {
    width: 5vw;
    margin-bottom: 3rem;
    font-weight: bold;
}

.mp_reservation_info_contents {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mp_reservation_info_contents p {
    width: 11vw;
    margin-bottom: 3rem;
    font-weight: bold;
}

.mp_reservation_cancel_btn_box {
    display: flex;
    width: 100%;
    justify-content: center;
}

.mp_reservation_img {
    width: 19vw;
}

.mp_reservation_img p {
    margin-bottom: 0;
}

.mp_reservation_info_class {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#mp_reservation_star {
    margin-right: 1rem;
}

.mp_reservation_star_core {
    display: flex;
    align-items: end;
}

#mp_reservation_info_img {
    width: 100%;
}

#mp_reservation_cancel_btn {
    width: 5vw;
    height: 3.5vh;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
#mp_reservation_cancel_btn:hover {
    background: #ff6b00;
    color: white;
    transition: opacity 2s;
}

#mp_reservation_status {
    color: #ff6b00;
}

.mp_reservation_img_info {
    display: flex;
}

.mp_reservation_img_info img {
    width: 40%;
}

.mp_reservation_address_info_box {
    display: flex;
}

.mp_reservation_address_info {
    display: flex;
    flex-direction: column;
}

#mp_reservation_find_address_title {
    margin-bottom: 2rem;
}

#mp_reservation_find_address {
    margin-bottom: 2rem;
}

.mp_reservation_address {
    margin-right: 2rem;
}

.mp_reservation_direction_btn {
    display: flex;
    align-items: center;
}

.mp_reservation_direction_btn button {
    background: transparent;
    border: none;
    cursor: pointer;
}
