/* ----------------- */
/* 모달창 뒷배경 설정 */
.board-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -------------- */
/* 모달창 박스 설정*/
.modal-box {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    width: 80vw;
    height: 90vh;
}
/* -------------------- */
/* 모달창 이미지 영역 설정*/
.modal-img {
    width: 40vw;
    height: 90vh;
}
.modal-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
/* --------------------- */
/* 모달창 글 영역 설정*/
.modal-content {
    width: 40vw !important;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    display: flex;
    margin: 0;
    padding: 2vw 2vh;
}
/* 글쓴이 정보 영역 설정 */
.writer-profile-box {
    display: flex;
    align-items: center;
    width: 30vw;
    height: 8vh;
    gap: 1.5vw;
    margin-bottom: 2vh;
}
.writer-image-wrapper {
    width: 8vh;
    height: 8vh;
    border-radius: 30%;
    overflow: hidden;
}
.writer-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.writer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.writer-name {
    font-size: 1.25em;
    font-weight: bold;
}
.writer-location {
    font-size: 0.8em;
}
/* 글 내용 영역 설정 */
.modal-text {
    width: 36vw;
    height: 45vh;
    padding: 2vh 0;
}
.modal-text h3 {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 2vh;
}
.modal-text p{
    font-size: 1em;
}
.modal-text-line{
    width: 36vw;
    height: 2px;
    background-color: #D7D6D6;
    margin-bottom: 1vh;
}
/* 글 내용 영역 설정 */
