<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--쿼리문이 Dao 클래스에서 분리되어 온 것이기 때문에 namespace는 관례적으로 Dao 클래스명과 일치시킨다.-->
<mapper namespace="PostDao">

    <insert id="posting" parameterType="post">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT IFNULL(MAX(ID), 1) FROM POST
        </selectKey>
        INSERT INTO POST(
            TITLE,
            CONTENT,
            REG_DATE,
            POST_IMG
        )
        VALUE(
            #{title},
            #{content},
            #{reg_date},
            #{post_img}
        )
    </insert>


</mapper>