<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style_login.css">
</head>
<body>
    <div class="container">
        <div  id="login" class="login-form">
            <img src="../../image/subtract_x2.svg" alt="logo">
            <h1>COMMA'</h1>
            <p>당신의 일상에'쉼표'를 선물하세요</p>
            <div class="login-join-page">
                <p>ID</p>
                <div class="input-group">
                    <input type="email" placeholder="Email">
                </div>
                <p>PW</p>
                <div class="input-group">
                    <input type="password" placeholder="Password">
                </div>
            </div>
            <label><input type="checkbox">아이디 저장하기</label>
            <button id="loginBtn">Login</button>
            <button id="showSignup">Join</button>
        </div>

        <div id="join" class="login-form hidden">
            <img src="../../image/subtract_x2.svg" alt="logo">
            <h1>COMMA'</h1>
            <p>JOIN THE MEMBERSHIP</p>
            <div class="login-join-page">
                <p>ID</p>
                <div class="input-group">
                    <input type="email" placeholder="Email">
                </div>
                <p>PW</p>
                <div class="input-group">
                    <input type="password" placeholder="Password">
                </div>
                <p>PW CHECK</p>
                <div class="input-group">
                    <input type="password" placeholder="Password Check">
                </div>
                <p>NAME</p>
                <div class="input-group">
                    <input type="text" placeholder="Name">
                </div>
            </div>
            <div id="joinpage-btn">
                <button id="signupBtn">Join</button>
                <button id="showLogin">Back to Login</button>
            </div>
        </div>
    </div>
    <script src="../js/script_login.js"></script>
</body>
</html>