/* 모달창 뒷배경 설정 */
.board-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 모달창 박스 설정*/
.modal-box {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    width: 80vw;
    height: 90vh;
}
/* 모달창 이미지 영역 설정*/
.modal-img {
    position: relative;
    width: 40vw;
    height: 90vh;
    padding: 2vh;
}
.slide-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.slide-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(169, 168, 168, 0.8);
    border: none;
    font-size: 1.25em;
    margin: 0 2vh;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    transition: background-color 0.3s;
}
.slide-button:hover {
    background-color: rgba(255, 255, 255, 1);
}
.prev {
    left: 0.1vw;
    font-weight: bold;
    color: #232222;
}
.next {
    right: 0.1vw;
    font-weight: bold;
    color: #232222;
}
/* 모달창 글 영역 설정*/
.modal-content {
    width: 40vw;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    display: flex;
    margin: 0;
    padding: 2vw 2vh;
}
/* 상단바 버튼 영역 설정*/
.edit-delete-buttons {
    margin-left: auto;
    display: flex;
}
.edit-delete-buttons button {
    width: 5vh;
    height: 5vh;
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}
.edit-delete-buttons button:hover {
    transform: scale(1.2);
}
/* 글쓴이 정보 영역 설정 */
.writer-profile-box {
    display: flex;
    align-items: center;
    width: 30vw;
    height: 8vh;
    gap: 1.5vw;
    margin-bottom: 2vh;
}
.writer-image-box {
    width: 8vh;
    height: 8vh;
    border-radius: 30%;
    overflow: hidden;
}
.writer-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.writer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.writer-name {
    font-size: 1.25em;
    font-weight: bold;
}
.writer-location {
    font-size: 0.8em;
}
.writer-rank-image {
    width: 3vh;
    height: 3vh;
}
/* 글 내용 영역 설정 */
.modal-text {
    width: 100%;
    height: calc(90vh - 50vh);
    padding: 2vh 0;
    overflow: hidden;
}
.modal-text #title {
    width: 36vw;
    height: 4vh;
    resize: none;
    border: none;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 2vh;
    outline: none;
}
.modal-text #memo{
    width: 36vw;
    height: 25vh;
    font-size: 1em;
    border: none;
    outline: none;
    resize: none;
}
.modal-text-line {
    width: 36vw;
    height: 2px;
    background-color: #d7d6d6;
    margin-bottom: 1vh;
}
/* 상호작용 영역 설정 */
.modal-interaction {
    width: 36vw;
    height: 2vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
}
.modal-interaction button {
    background: none;
    border: none;
    padding: 0;
    margin-right: 0.5vw;
    transition: transform 0.2s;
    align-items: center;
}
.modal-interaction img {
    width: 2vh;
    height: 2vh;
}
.modal-interaction button:hover {
    transform: scale(1.2);
}
.modal-interaction-like-count {
    font-size: 0.9em;
    font-weight: bold;
    color: black;
}
.share-button {
    margin-left: auto;
}
/* 댓글 내용 영역 설정 */
.modal-comment-box {
    width: 100%;
    height: 30vh;
    overflow-y: auto;
}
.comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1vh;
    position: relative;
}
.commenter-image {
    width: 5vh;
    height: 5vh;
    border-radius: 30%;
    object-fit: cover;
    margin-right: 1vw;
}
.comment-content {
    flex-grow: 1;
}
.commenter-info {
    display: flex;
    align-items: center;
    margin-bottom: 0.2vh;
}
.commenter-name {
    font-size: 1em;
    font-weight: bold;
    margin-right: 0.5vw;
}
.commenter-rank {
    width: 2vh;
    height: 2vh;
}
.comment-text {
    width: 90%;
    font-size: 0.9em;
    color: black;
    margin-bottom: 0.2vh;
}
#tag {
    font-weight: bold;
    color: #0047ff;
    margin-right: 0.3em;
    margin-left: 0.3em;
}
.reply-button {
    background: none;
    border: none;
    color: #888;
    padding: 0;
    font-size: 0.75em;
    transition: transform 0.2s;
}
.reply-button:hover {
    font-weight: bold;
}
.show-more-comments {
    background: none;
    border: none;
    color: #888;
    padding: 0;
    font-size: 0.75em;
    transition: transform 0.2s;
}
.show-more-comments:hover {
    font-weight: bold;
}
.like-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 2vw;
    top: 0;
    transition: transform 0.2s;
}
.like-button img {
    width: 2vh;
    height: 2vh;
}
.like-button:hover {
    transform: scale(1.2);
}
/* 댓글 더보기 영역 설정 */
.hidden-comment {
    display: flex;
    align-items: flex-start;
    margin: 0.8vh 0;
    position: relative;
    font-size: 0.9em;
}
.hidden-commenter-image {
    width: 4vh;
    height: 4vh;
    border-radius: 30%;
    object-fit: cover;
    margin-right: 0.8vw;
}
.hidden-comment-content {
    flex-grow: 1;
}
.hidden-commenter-info {
    display: flex;
    align-items: center;
    margin-bottom: 0.1vh;
}
.hidden-commenter-name {
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 0.4vw;
}
.hidden-commenter-rank {
    width: 1.6vh;
    height: 1.6vh;
}
.hidden-comment-text {
    width: 90%;
    font-size: 0.8em;
    color: black;
    margin-bottom: 0.1vh;
}
.hidden-reply-button {
    background: none;
    border: none;
    color: #888;
    padding: 0;
    font-size: 0.7em;
    transition: transform 0.2s;
}
.hidden-reply-button:hover {
    font-weight: bold;
}
.hidden-like-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 1.6vw;
    top: 0;
    transition: transform 0.2s;
}
.hidden-like-button img {
    width: 1.6vh;
    height: 1.6vh;
    margin-right: 0.85vh;
}
.hidden-like-button:hover {
    transform: scale(1.2);
}
