.map_city1, .map_city2, .map_city3, .map_city4,
.map_city5, .map_city6, .map_city7, .map_city8,
.map_city9, .map_city10, .map_city11, .map_city12,
.map_city13, .map_city14, .map_city15, .map_city16,
.map_city17 {
    fill: lightgray;
    transition: fill 0.3s ease;
}

.map_city1:hover, .map_city2:hover, .map_city3:hover, .map_city4:hover,
.map_city5:hover, .map_city6:hover, .map_city7:hover, .map_city8:hover,
.map_city9:hover, .map_city10:hover, .map_city11:hover, .map_city12:hover,
.map_city13:hover, .map_city14:hover, .map_city15:hover, .map_city16:hover,
.map_city17:hover{
    fill: black;
    cursor: pointer;
}

.map_city {
    transition: fill 0.3s ease;
}

.all_map {
    margin-top: 100px;
    width: 100%;
    height: auto;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.banner-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.banner-item {
    position: relative;
    width: auto;
    min-width: 400px;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, opacity 1s ease;
}
.banner-item img {
    width: 500px;
    height: 250px;
    height: auto;
    display: block;
    border-radius: 15px;
}
.banner-item:hover {
    transform: scale(1.05);
}
.banner-item:nth-child(odd) {
    animation: fadeInOut 4s infinite;
}
.banner-item:nth-child(even) {
    animation: fadeInOut 4s infinite 2s;
}
@keyframes fadeInOut {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}
.banner-caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}