/* 기본 구성 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}
/* 기본 틀 구성 */
body, html, .wrap {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
/* Header */
header {
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 20vh;
    z-index: 1000;
}
header > img {
    margin-top: 3vh;
    width: 13vw;
    height: 8vh;
}
/* Container */
.container {
    display: flex;
    flex: 1;
    margin: 20vh 0 1vh 0 ;
    padding: 0;
}
/* Content */
.content {
    flex: 1;
}
/* 반응성 설정 */
@media (max-width: 768px) {
    .content {
        margin-left: 0;
        margin-top: 0;
    }
    .container {
        flex-direction: column;
    }
}