/* 기본 화면 설정 */
body {
    overflow: hidden;
}
#main {
    width: 75vw;
    height: 95vh;
    margin: 2.5vh 2.5vw;
    overflow: hidden;
}

/* 검색창 영역 설정 */
#serchArea {
    display: flex;
    width: 100%;
    height: 5vh;
    padding: 1vh 2vh;
    align-items: center;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
}
#serch-form {
    display: flex;
}
#search-button {
    width: 3vh;
    height: 3vh;
    border: none;
    background: none;
    transition: transform 0.2s;
    justify-content: center;
    align-items: center;
}
#filter-button {
    width: 3vh;
    height: 3vh;
    border: none;
    background: none;
    transition: transform 0.2s;
    justify-content: center;
    align-items: center;
}
#filter-back-button {
    width: 3vh;
    height: 3vh;
    border: none;
    background: none;
    margin-right: 3vh;
    transition: transform 0.2s;
    justify-content: center;
    align-items: center;
}
#search-button:hover,
#filter-button:hover,
#filter-back-button:hover {
    transform: scale(1.2);
}
#serchBar {
    width: 60vw;
    height: 3vh;
    border: none;
    margin: 0 1vw;
    font-size: 1.25em;
    font-weight: bold;
    outline: none;
}

/* 지도 영역 설정 */
#kakaoMap {
    width: 35vw;
    height: 85vh;
    border: 1px solid rgba(129, 127, 127, 0.8);
    box-shadow: 0 1px 6px rgba(129, 127, 127, 0.8);
    border-radius: 10px;
}

/* 검색창 리스트 영역 설정(search result list) */
#serchResultList {
    width: 45vw;
    height: 85vh;
    overflow-y: auto;
    margin-left: 0.5vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#serchResultList::-webkit-scrollbar {
    display: none;
}

/* 검색 결과 (search result) */
.serchResult {
    width: 100%;
    height: 15vh;
    margin-bottom: 1vh;
    border: 1px solid rgba(129, 127, 127, 0.8);
    box-shadow: 0 1px 6px rgba(129, 127, 127, 0.8);
    border-radius: 10px;
    align-items: center;
    display: flex;
}
.serchResult:hover {
    background-color: rgba(129, 127, 127, 0.2);
}
.serch-img {
    width: 15vw;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}
.serch-info {
    width: 100%;
    height: 100%;
    padding: 1.5vh;
    display: block;
}
.serch-name {
    display: flex;
    width: 100%;
    height: 20%;
    font-size: 1.1em;
    font-weight: bold;
    align-items: flex-start;
}
.serch-name p {
    text-wrap: nowrap;
}
.serch-certification{
    width: 100%;
    height: 1em;
    margin: 0.5vh 0;
}
.serch-data {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
}
.price-info,
.location-info,
.direction-info {
    display: flex;
    width: 60%;
    height: 15%;
    text-wrap: nowrap;
    font-size: 0.85em;
    font-weight: bold;
    margin-bottom: 1.5vh;
    gap: 1vw;
}

/* 필터 영역 설정 (filter area) -- 지역 */
#area-filer {
    display: flex;
    margin: 2vh 0;
    font-weight: bold;
    font-size: 1.25em;
}
#areas .area{
    display: block;
    width: 4vw;
    height: 3vh;
}
#areas .area:hover {
    color: #FF6B00;
}
#areas .area.active {
    color: #FF6B00;
}

/* 필터 영역 설정 (filter price) -- 가격 */
#price-filer {
    font-size: 1.25em;
    height: 7vh;
    overflow: hidden;
}
#price-min, #price-max {
    font-size: 0.8em;
    font-weight: bold;
    text-wrap: nowrap;
}
#price-handle-min, #price-handle-max {
    font-size: 0.8em;
    font-weight: bold;
    text-wrap: nowrap;
    margin-top: 0.5em;
    display: block;
    position:absolute;
}
#price-handle-min {
    margin-left: -2.5vw;
}
.price-progress {
    height: 1em;
    width: 60vw;
    margin: 0 0.5vw;
    border-radius: 5px;
    background-color: #A9A8A8;
    align-items: center;
}
.price-progress .bar {
    height: 1em;
    background-color: #FF6B00;
    border-radius: 5px
}
.price-progress-handle {
    display: block;
    z-index: 1;
    margin-top: -3px;
    margin-left: -10px;
    width: 1.25em;
    height: 1.25em;
    border: 10px solid #FF6B00;
    transform: rotate(45deg);
    border-radius: 10px;
    background-color: #FF6B00;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    cursor:pointer;
}

.draggable {
    float: left; margin: 0 10px 10px 0;
}

/* 모달창 영역 설정 (modal) */
/* 모달창 헤더 영역 설정 (modal-header) */
#link_planArea, #pick_button, #share_button {
    width: 3vh;
    height: 3vh;
    margin-left: 1.5vh;
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}
#plan_button {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#link_planArea:hover,
#pick_button:hover,
#share_button:hover {
    transform: scale(1.2);
}

/* 모달창 데이터 결과값 영역 (modal-container) */
.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

/* 모달창 이미지 영역 설정 */
#resultModalImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 40vh;
}

/* 모달창 지도 영역 설정 */
#resultModalMap {
    width: 100%;
    height: 40vh;
    border-radius: 10px;
}

/* 모달창 댓글 목록 영역 설정 (modal comment) */
#resultModalComment {
    border: 1px solid rgba(129, 127, 127, 0.5);
    border-radius: 10px;
    width: 100%;
    height: 40vh;
    overflow-y: auto;
    justify-content: center;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    align-items: center;
    scrollbar-width: none;
}
#resultModalComment::-webkit-scrollbar {
    display: none;
}
#review-list {;
    position: sticky;
    background: white;
    border-bottom: 1px solid rgba(129, 127, 127, 0.5);
    top: 0;
    width: 100%;
    height: 3em;
    padding: 0.875em;
    z-index: 1;
    margin: 0;
}
.commentArea{
    border-bottom: 1px solid rgba(129, 127, 127, 0.5);
    padding: 1.5vh;
}
.place_name, .option_name {
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
    margin-left: 0.3vw;
    text-wrap: nowrap;
}
.comment {
    padding: 0.3vh;
    text-align: left;
    font-size: 0.7em;
    font-weight: normal;
}

/* 모달창 장소 정보 영역 설정 (resultModalDatas) */
#resultModalDatas {
    padding: 2vh;
}
#resultModalDatas #place_name {
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 1em;
    text-wrap: nowrap;
}
#resultModalDatas #grade {
    font-size: 1em;
    font-weight: bold;
    text-wrap: nowrap;
}
#resultModalDatas .price-info,
#resultModalDatas .location-info,
#resultModalDatas .direction-info {
    width: 100%;
    margin: 0;
    display: flex;
    text-wrap: nowrap;
    font-size: 1.1em;
    font-weight: bold;
}
#resultModalDatas .price,
#resultModalDatas .direction,
#resultModalDatas .location {
    font-size: 0.8em;
    font-weight: normal;
}

/* 모달창 예약 영역 설정 (book) */
#resultModalBooking {
    padding: 2vh;
}
#book-men {
    font-size: 1em;
    font-weight: bold;
    text-wrap: nowrap;
    color: black;
    justify-content: space-between;
}
#bookMen-dropDown {
    font-size: 1em;
    font-weight: bold;
    text-wrap: nowrap;
    color: black;
    outline: none;
}
.form-select {
    width: 10vw;
}
.dropdown-menu,
.form-group,
#book-option-button {
    font-size: 1em;
    font-weight: bold;
    color: black;
}
.form-control {
    font-size: 1em;
    font-weight: bold;
    border: none;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
}
.form-control::placeholder {
    font-weight: bold;
    font-size: 1em;
    color: #A9A8A8;
}
#book-option {
    font-size: 1em;
    font-weight: bold;
    text-wrap: nowrap;
    color: black;
    justify-content: space-between;
}
.book-opiton-item {
    font-size: 1em;
    font-weight: bold;
    color: black;
}
.book-opiton-item:hover {
    background-color: rgba(129, 127, 127, 0.2);
}
#book-button {
    margin-left: 77%;
    background: none;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 1em;
    font-weight: bold;
    width: 5em;
    height: 2em;
    transition: background-color 0.2s;
}
#book-button:hover {
    background-color: #ff6b00;
    color: white;
}

/* 모달창 사진 슬라이드 영역 설정 (carousel) */
.carousel .carousel-item {
    width: 18vw;
    height: 25vh;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.carousel-item img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

/* 모달창 달력 영역 설정 (Calender) */
#resultModalCalender {
    padding: 2vh;
}
#calendar-wrapper {
    padding: 0;
    width: 100%;
    height: 95%;
    justify-content: center;
    align-items: center;
}
.calendar {
    width: 47%;
    height: 97%;
    margin: 1.5%;
}
.calendar-button {
    width: 3vh;
    height: 3vh;
    font-size: 1.25em;
    font-weight: bold;
    color: black;
    outline: none;
    box-shadow: none;
}
.calendar-button:hover {
    color: #ff600b;
    outline: none;
    box-shadow: none;
}
.calendar-button:focus,
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
.month-year {
    font-size: 2em;
    font-weight: bold;
}
.calendar-days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    margin-top: 1.3em;
}
.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.day {
    width: 2vw;
    height: 4vh;
    text-align: center;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.2s;
    border-radius: 5px;
}
.day:hover {
    background-color: rgba(129, 127, 127, 0.5);
}
.day.booked {
    color: white;
    background-color: #FF6B00;
    border: 1px solid white;
}
.day.booked:hover {
    color: white;
    background-color: #FF6B00;
    border: 1px solid white;
}