/*
<< Elements styles >>
    ⚠️ 해당 스타일들은 Header 및 Footer의 양식을 위한 styles입니다. 수정 금지.
*/
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Moirai+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
.moirai-one-regular {
    font-family: "Moirai One";
}
.gasoek-one-regular {
    font-family: "Gasoek One";
}
html, body {
    height: 100%;
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
}
header {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100vw;
    z-index: 1000;
    background-color: white;
    padding: 1% 5%;
}
#search-bar {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 80px;
    position: relative;
}        
.content {
    flex: 1;
}
footer {
    width: 100%;
    min-width: 100vw;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
    color: #FFFF;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    background-color: #343a40;
}
.nav-link:hover {
    color: #FF6B00 !important;
}
.btn:hover {
    background-color: #FF6B00 !important;
    border-color: #FF6B00 !important;
}
.navbar-toggler:hover {
    background-color: #FF6B00 !important;
}
input:focus {
    border-color: #FF6B00 !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 107, 0, 0.25) !important;
}

/*--------------------------------------------------------------------*/
/*-------------flex box 구간 영역---------------*/
.main_page {
    display: flex;
    justify-content: center;
    width: 100%;
}

.section1 {
    width: 15%;
}

.section2 {
    width: 85%;
}

/*-----------------myTravelRecord 영역------------------------*/

        .map_city1, .map_city2, .map_city3, .map_city4,
        .map_city5, .map_city6, .map_city7, .map_city8,
        .map_city9, .map_city10, .map_city11, .map_city12,
        .map_city13, .map_city14, .map_city15, .map_city16,
        .map_city17 {
            fill: lightgray;
            transition: fill 0.3s ease;
        }

        .map_city1:hover, .map_city2:hover, .map_city3:hover, .map_city4:hover,
        .map_city5:hover, .map_city6:hover, .map_city7:hover, .map_city8:hover,
        .map_city9:hover, .map_city10:hover, .map_city11:hover, .map_city12:hover,
        .map_city13:hover, .map_city14:hover, .map_city15:hover, .map_city16:hover,
        .map_city17:hover{
            fill: black;
            cursor: pointer;
        }

        .map_city {
            transition: fill 0.3s ease;
        }

        .all_map {
            margin-top: 100px;
            width: 100%;
            height: auto;
            border: 1px solid lightgray;
            border-radius: 20px;
        }

        .dropdown_box {
            width: 50%;
            height: auto;
            background: lightgray;
            margin: 5% 3%;
            border-radius: 5px;
        }

        .mtr_flex {
            display: flex;
        }
        
        #mapBox {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            width: 100%;
            height: auto;
            overflow-y: auto;
        }
        
        #mapBox iframe {
            width: 80%;
            height: 40vh;
            border: none;
            margin: 0 10%;
        }

        .mtr_board {
            width: 100%;
            display: flex;
        }

        .mtr_board1 {
            width: 25%;
            height: 30vh;
            margin: 5%;
            background: gray;
            border-radius: 10px;
        }
        .mtr_board2 {
            width: 25%;
            height: 30vh;
            margin: 5%;
            background: gray;
            border-radius: 10px;
        }
        .mtr_board3 {
            width: 25%;
            height: 30vh;
            margin: 5%;
            background: gray;
            border-radius: 10px;
        }