@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    justify-content: center;
    
    margin: 35px 0;

}


/* login-page */
#login-page-container{
    height: 620px;
    width: 850px;
    border: 3px solid lightgray;   
    border-radius: 20px;

    display: flex;
}

/* left-content */
#login-left-content{
    width: 470px;
    display: flex;
    justify-content: end;
    align-items: center;
}

#login-page-img img{
    height: 570px;
    width: 410px;
    border-radius: 15px;
}

/* right-content */
#login-right-content{
    width: 430px;

    display: flex;
    justify-content: center;
}


.login-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

.login-content.hidden{
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}

/* logo */
#main-logo{
    width: 50px;
    margin-top: 60px;
}

/* logo-name */
.login-content h1,
.login-content.hidden h1{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    margin: 8px 0 25px 0;
}

/* logo-text */
#login p{
    font-size: 20px;
}

#join p{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

/* Id input */
#login-container1{
    margin-top: 80px;
}

#login-container2{
    margin-top: 10px;
}

.input-group{
    height: 38px;
    width: 270px;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
    display: flex;
    align-items: center;

    border: 2px solid black;
    border-style: none none solid none;
}

#login-username,
#join-username{
    width: 230px;
    font-size: 14px;
    margin-left: 30px;
    padding-top: 5px;
    border: none;
    outline: none;
}


#login-password,
#join-password{
    width: 230px;
    font-size: 14px;
    margin-left: 21px;
    padding-top: 5px;
    border: none;
    outline: none;
}

#passwordChk{
    width: 150px;
    font-size: 14px;
    margin-left: 20px;
    border: none;
    outline: none;
}

#nickname{
    width: 200px;
    font-size: 14px;
    margin-left: 20px;
    padding-top: 5px;
    border: none;
    outline: none;
}

#residence-input{
    width: 270px;
    font-size: 14px;
    border: none;
    outline: none;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#residence-group{
    height: 38px;
    width: 270px;
    font-size: 16px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-style: none none solid none;
}

#residence{
    font-size: 16px;
    font-weight: bold;
}

#residence-list{
    font-size: 14px;
    font-weight: bold;
    margin-left: 50px;
    border: none;
    cursor: pointer;
}

/* btn */
#btn-group{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btn{
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: white;
}

.btn:hover{
    cursor: pointer;
}

.btn::after{
    display:block;
    content: '';
    padding: 2px;
    border-bottom: solid 2px black;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.btn:hover::after,
.btn.active::after{
    transform: scaleX(1);
}
