@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    justify-content: center;
    
    margin: 35px 0;

}


/* login-page */
#login-page-container{
    height: 620px;
    width: 850px;
    border: 3px solid lightgray;   
    border-radius: 20px;

    display: flex;
}

/* left-content */
#login-left-content{
    width: 470px;
    display: flex;
    justify-content: end;
    align-items: center;
}

#login-page-img img{
    height: 570px;
    width: 410px;
    border-radius: 15px;
}

/* right-content */
#login-right-content{
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* logo */
#main-logo{
    width: 50px;
    margin-top: 60px;
}

/* logo-name */
#login-right-content h1{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    margin: 8px 0 25px 0;
}

#login-right-content p{
    font-size: 20px;
}

/* Id input */
#login-container{
    margin-top: 80px;
}

.input-group{
    height: 38px;
    width: 270px;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
    display: flex;
    align-items: center;

    border: 2px solid black;
    border-style: none none solid none;
}

#username{
    width: 230px;
    font-size: 14px;
    margin-left: 30px;
    padding-top: 5px;
    border: none;
    outline: none;
}

#password{
    width: 230px;
    font-size: 14px;
    margin-left: 19px;
    padding-top: 5px;
    border: none;
    outline: none;
}

/* btn */
#btn-group{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btn{
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: white;
}

.btn:hover{
    cursor: pointer;
}

.btn::after{
    display:block;
    content: '';
    padding: 2px;
    border-bottom: solid 2px black;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.btn:hover::after{
    transform: scaleX(1);
}
