@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');

body, html {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-form {
    background: white;
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.login-form h1 {
    font-size: 36px;
    color: #090808;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Moirai One", serif;
}
.login-form p {
    font-weight: bold;
    margin-bottom: 30px;
}


.login-join-page p{
    margin: 0;
    text-align: left;
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form label {
    font-size: 14px;
    color: #090808;
    display: block;
    margin: 10px 0;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group label {
    width: 50px;
    height: 28px;
    text-align: center;
    margin-right: 10px;
    padding-top: 6px;
    border: none;
    border-radius: 5px;
    background: black;
    color: white;
}

.input div{
    display: block;
}

.login-btn,
.join-btn1 {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.join-btn2 {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover,
.join-btn:hover, 
.join-btn2:hover {
    background: darkgray;
}
