<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--쿼리문이 Dao 클래스에서 분리되어 온 것이기 때문에 namespace는 관례적으로 Dao 클래스명과 일치시킨다.-->
<mapper namespace="PlanDao">
    <insert id="savePlan" parameterType="plan">
        INSERT INTO PLAN (ID, ITEM_DATA)
        VALUES (#{id}, #{item_data})
    </insert>

    <select id="getPlan" resultType="plan">
        SELECT ID, ITEM_DATA
        FROM PLAN
        WHERE ID = #{id}
    </select>
</mapper>