<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/test.css">
</head>
<!--가져오게 될 부분을  body  안에다가-->
<body>
   <main>
    <div class="pages">

        <div class="page">

        </div>

        <div class="page">
            
        </div>

        <div class="page">
            
        </div>

        <div class="page">
            
        </div>

     </div>
   </main>
</body>
</html>