<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css 초기화 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css"/>
    <link rel="stylesheet" href="loginT.css">
</head>
<body>
    <!-- Login Page -->
    <div id="login-page-container">
        <!-- left content -->
        <div id="login-left-content">
            <div id="login-page-img">
                <img src="/image/LoginPageImg.jpg" alt="left-img">
            </div>
        </div>

        <!-- right content -->
        <div id="login-right-content">
            <a href="">
                <img src="/image/TeamProjectLogo.png" alt="logo" id="main-logo">
            </a>

            <h1>comma</h1>
        </div>
    </div>
</body>
</html>